@import url(blog_main_style.css);
@import url(blog_header_footer_style.css);
@import url(social_share.css);
@import url("https://fonts.googleapis.com/css2?family=Inter");

main img {
  border-radius: 1rem;
  filter: drop-shadow(0.5rem 0.5rem 0.75rem #d62828);
}

.hero_container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: auto 5rem auto;
  gap: 1.5;
  width: 90%;
  max-width: 1100px;
  margin-bottom: 1rem;
  grid-template-areas:
    "top-left top-left top-right"
    "bottom-left ..... top-right"
    "bottom-left bottom-right bottom-right";
}

.hero_container img {
  max-width: 100%;
}

.hero_blurb {
  color: #003049;
  line-height: 2rem;
  grid-area: top-left;
  padding-right: 1.5rem;
}

.hero_img_1 {
  grid-area: bottom-left;
  align-self: center;
  justify-self: center;
}

.favorite_sites {
  grid-area: bottom-right;
  padding-left: 1.5rem;
}

.hero_img_2 {
  grid-area: top-right;
  align-self: center;
  justify-self: center;
}

.favorite_sites {
  width: 100%;
}

.favorite_sites > h2 {
  padding-left: 2rem;
}
.favorite_sites li {
  list-style: none;
}

.favorite_sites a {
  display: block;
  width: 90%;
  border: #f77f00;
  color: 2px dotted #d62828;
  background-color: #eae2b7;
}

.articles_head {
  display: flex;
  justify-content: space-between;
}

.supers_list {
  margin-top: 4rem;
  width: 90%;
}

.supers_list a {
  font-size: 2rem;
  border-radius: 1rem;
}

.super_articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  line-height: 1.5rem;
}

.the_super {
  display: flex;
  flex-flow: column;
  padding: 0.5rem 1.5rem;
  margin: 0;
}

.the_super h1 {
  margin: 0;
  padding-top: 0.5rem;
  align-self: center;
}

.the_super > img {
  align-self: center;
  order: -1;
  width: 100%;
  margin-bottom: 1.5rem;
}

.the_super > p {
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .hero_container {
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
      "bottom-left"
      "top-left"
      "bottom-right"
      "top-right";
    justify-items: center;
  }

  .hero_container img {
    width: 100%;
  }
}
