@import url(blog_main_style.css);
@import url(blog_header_footer_style.css);
@import url(social_share.css);
@import url("https://fonts.googleapis.com/css?family=Special+Elite");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

blockquote {
  font-family: "Special Elite", cursive;
  position: relative;
  padding-left: 3rem;
  border-left: 3px solid #d62828;
}

cite {
  line-height: 2rem;
  text-align: left;
  padding-left: 3rem;
}

li::marker {
  color: #f77f00;
  list-style-type: circle;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

ul {
  list-style-type: "🤔";
}

ol {
  list-style-type: decimal-leading-zero;
}

.author_info {
  display: grid;
  grid-template-columns: 7rem auto;
}

.author_info img {
  width: 5rem;
  border-radius: 50%;
  grid-row: span 2;
  order: -1;
  margin: 1rem;
}

.breadcrumbs {
  line-height: 2rem;
  width: 100%;
}

.blog_title {
  text-align: center;
}

.top_lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.top_lists > h2 {
  grid-column: span 2;
  align-self: center;
}

.post_nav_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2rem;
}

.post_nav {
  align-items: center;
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: #eae2b7;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.9rem;
}

.post_nav:hover {
  background: #eae2b7;
  color: #f77f00;
}
